# Do not commit raw/derived datasets
data/*.csv
data/*.tsv
data/*.xlsx
data/*.rds
data/*.qs
data/*.zip

# Notebook junk
.ipynb_checkpoints/

# R session files
.Rhistory
.RData
.Rproj.user/

# OS/editor junk
.DS_Store
Thumbs.db
*.swp
*.tmp
