# Data + outputs (do not commit)
data/
outputs/

# Notebooks
.ipynb_checkpoints/

# R
.Rhistory
.RData
.Rproj.user/

# OS/editor
.DS_Store
Thumbs.db
*.swp
*.tmp

# Optional: if you export lots of figures/tables locally
# *.pdf
# *.png
# *.html
# *.csv
